<div class="container">
  <h1>Index page</h1>
  <h2>q;)</h2>

  <a href="<%= new_user_session_path %>">Sign in</a>
  <a href="<%= new_user_registration_path %>">Sign up</a>

  <h5><%= current_user ? current_user.email : "Authorize please!" %></h5>

  <% unless @crews %>
    <hr>
    <h5><%= 'Not found any crews!' %></h5>
    <hr>
  <% else %>
    <% @crews.each do |crew| %>
      <hr>
      <h5><%= crew.name %></h5>
      <p><%= crew.description %></p>
      <%= link_to "See more", crew_path(crew), :class => 'btn btn-warning' %>
      <%= link_to "Edit", edit_crew_path(crew), :class => 'btn btn-warning' %>
      <%= link_to "Remove", crew_path(crew), method: :delete, data: {
          confirm: "Are you sure that you want to remove this Crew?"
      }, :class => 'btn btn-warning' %>
      <hr>
    <% end %>
  <% end %>
</div>