<h1>Crew name: <%= @crew.name %></h1>
<h5>crew description: <%= @crew.description %></h5>

<%= link_to "Home", crews_path(@crew), :class => 'btn btn-warning' %>
<% if current_user.id == @crew.user_id %>
  <%= link_to "Edit", edit_crew_path(@crew), :class => 'btn btn-warning' %>
  <%= link_to "Remove", crew_path(@crew), method: :delete, data: {
      confirm: "Are you sure that you want to remove this Crew?"
  }, :class => 'btn btn-warning' %>
<% end %>
<%= link_to "Create", new_crew_event_path(@crew), :class => 'btn btn-warning' %>
<hr>
<% @crew.events.each do |event| %>
  <hr>
  <p>title: <%= event.title %></p>
  <p>description: <%= event.description %></p>
  <p>start_date: <%= event.start %></p>
  <p>end_date: <%= event.end %></p>
  <p>created_by: <%= User.find(event.user_id).email %></p>
  <%= link_to "See more", crew_event_path(event), :class => 'btn btn-warning' %>
  <hr>
<% end %>
<hr>