<h1><%= @crew.name %></h1>
<h5><%= @crew.description %></h5>

<%= link_to "Home", crews_path(@crew), :class => 'btn btn-warning' %>
<% if current_user.id == @crew.user_id %>
  <%= link_to "Edit", edit_crew_path(@crew), :class => 'btn btn-warning' %>
  <%= link_to "Remove", crew_path(@crew), method: :delete, data: {
      confirm: "Are you sure that you want to remove this Crew?"
  }, :class => 'btn btn-warning' %>
<% end %>
<%= link_to "Create", new_crew_event_path(@crew), :class => 'btn btn-warning' %>