<h2>Update event</h2>

<%= form_for :event, url: crew_event_path(@event), method: :patch do |f| %>
  <p>
    Event name<br>
    <%= f.text_field :title %>
  </p>
  <p>
    Description<br>
    <%= f.text_area :description %>
  </p>
  <p>
    Start date<br>
    <%= f.datetime_field :start %>
  </p>
  <p>
    End date<br>
    <%= f.datetime_field :end %>
  </p>
  <p>
    <%= f.submit :class => 'btn btn-warning' %>
  </p>
<% end %>